@page
@model MovieApp.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie App!</h1>
</div>
